.carousel {
  height: 250px;
  overflow: hidden;

  &-control {
    &-prev, &-next {
      cursor: pointer;
    }
  }

  &-item {
    transition: transform 0.5s ease;
    backface-visibility: visible;

    > img {
      width: 100%;
    }
  }

  &-caption {
    top: unset;
    left: unset;
    right: unset;
    bottom: 0;
    position: relative;
    background-color: rgba(theme-color("dark"), 1)
  }
}